<footer class="w-full border-t-2 border-black bg-pink-100 py-4 mt-auto">
    <div class="max-w-4xl mx-auto px-4 text-center">
        <div class="flex items-center justify-center gap-2 mb-2">
            <img src="/static/logo_blue.png" alt="Gitrules Logo" class="w-5 h-5 object-cover">
            <span class="text-md font-black text-black">Gitrules</span>
        </div>
        <div class="text-xs text-black font-medium mt-1">
            <span>Version: 0.1.0</span>
        </div>
    </div>
</footer>