<div class="mb-8">
    <div class="relative w-full flex sm:flex-row flex-col justify-center sm:items-center">
        <h1 class="landing-page-title">
            <span class="block">Instant rules</span>
            <span class="block">for coding agents</span>
        </h1>
        <!-- Decorative logos -->
        <img src="/static/logo_blue.png" alt="Lightning" class="absolute flex-shrink-0 w-10 h-10 object-cover rotate-12 left-0 lg:ml-20 -translate-x-2 md:translate-x-6 lg:-translate-x-full -translate-y-2 sm:-translate-y-4 md:-translate-y-0 lg:-translate-y-6 no-drag">
        <img src="/static/logo_pink.png" alt="Lightning" class="absolute flex-shrink-0 w-10 h-10 object-cover -rotate-12 right-0 bottom-0 -translate-x-6 lg:-translate-x-8 translate-y-2 sm:translate-y-6 md:translate-y-2 lg:translate-y-4 no-drag">
    </div>
    <p class="intro-text mt-8">Augment your agents capabilities just by dropping files in your codebase.</p>
    <p class="intro-text mt-0">Easiest way to add MCPs, subagents and coding rules in your repository.</p>
</div>