<div class="mb-8">
    <div class="w-full flex sm:flex-row flex-col justify-center sm:items-center relative">
        <h1 class="landing-page-title">
            <span class="block">Instant rules</span>
            <span class="block">for coding agents</span>
        </h1>
        <!-- Decorative logos positioned relative to the centered content -->
        <img src="/static/logo_blue.png" alt="Lightning" class="absolute flex-shrink-0 w-12 h-12 object-cover rotate-12 left-1/2 -translate-x-80 -translate-y-16 no-drag">
        <img src="/static/logo_pink.png" alt="Lightning" class="absolute flex-shrink-0 w-12 h-12 object-cover -rotate-12 left-1/2 translate-x-80 translate-y-16 no-drag">
    </div>
    <p class="intro-text mt-8">Augment your agents capabilities just by dropping files in your codebase.</p>
    <p class="intro-text mt-0">Easiest way to add MCPs, subagents and coding rules in your repository.</p>
</div>