<div class="mb-8">
    <div class="relative w-full flex sm:flex-row flex-col justify-center sm:items-center">
        <h1 class="landing-page-title">
            <span class="block">Instant rules</span>
            <span class="block">for coding agents</span>
        </h1>
        <!-- Decorative sparkles -->
        <div class="sparkle-cyan no-drag">
            <img src="/static/logo_blue.png" alt="Lightning" class="w-4 h-4 object-cover">
        </div>
        <div class="sparkle-pink no-drag">
            <img src="/static/logo_pink.png" alt="Lightning" class="w-4 h-4 object-cover">
        </div>
    </div>
    <p class="intro-text mt-8">Augment your agents capabilities just by dropping files in your codebase.</p>
    <p class="intro-text mt-0">Easiest way to add MCPs, subagents and coding rules to your repository.</p>
</div>