{% extends "base.html" %}

{% block content %}
    {% include 'components/hero.html' %}

    <!-- Quick Actions -->
    {% include 'components/quick_actions.html' %}

    <!-- Three Panel Workspace -->
    {% include 'components/workspace.html' %}
    
    <!-- File Creation Modal -->
    {% include 'components/file_modal.html' %}
    
    <!-- Context Creation Modal -->
    {% include 'components/context_modal.html' %}
    
    <!-- Final Step Modal -->
    {% include 'components/final_step_modal.html' %}
{% endblock %}